# Урок 5: Соединение таблиц

## Соединения таблиц<a class="anchor" id="bullet-15"></a>
df.merge(right=product, left_on=['Столбец1ЛевойТаблицы','Столбец2ЛевойТаблицы'], right_on=['Столбец1ПравойТаблицы','Столбец2ПравойТаблицы'], how='inner')
* df - таблица слева
* right - таблица справа
* left_on - ключ для соединения из левой таблицы
* right_on - ключ для соединения из правой таблицы
* how - как будет произведенно соединение:
    1. inner - использовать только пересечение ключей из левой и правой таблицы, аналогично внутреннему соединению в SQL
    1. left - использовать ключи из левой таблицы, аналогично левому соединению в SQL
    1. right - использовать ключи из правой таблицы, аналогично правому соединению в SQL
    1. outer - использовать объединение ключей из обоих таблиц, аналогично полному или внешнему соединению из SQL

In [2]:
import pandas as pd

In [3]:
Prod = pd.read_excel('Курс продажи.xlsx')

In [4]:
Zatr = pd.read_excel('Курс затраты.xlsx')

In [5]:
Prod

,Характеристика,Характеристика1,Период,Сумма
0,Видеоняня,teXet,01.01.2020,14976.97
1,Видеоняня,teXet,01.02.2020,12999.16
2,Видеоняня,teXet,01.03.2020,2329.44
3,Видеоняня,Maman,01.01.2020,61755.30
4,Видеоняня,Maman,01.02.2020,51199.74
...,...,...,...,...
73597,Система охлаждения (радиатор/тепловые трубки),HP,01.05.2020,2000.00
73598,Система охлаждения (радиатор/тепловые трубки),Lenovo,01.01.2020,2658.93
73599,Система охлаждения (радиатор/тепловые трубки),Lenovo,01.03.2020,1880.00
73600,Система охлаждения (радиатор/тепловые трубки),Lenovo,01.04.2020,1386.00
73601,Система охлаждения (радиатор/тепловые трубки),Noname,01.02.2020,1600.00

In [6]:
Zatr

,Характеристика,Характеристика1,Период,Сумма
0,Автоматическая стиральная машина,DEXP,01.02.2020,245462.01
1,Аккумуляторная батарея (ЗИП),AGmobile,01.02.2020,3203.63
2,Образец продукции (сэмпл),Noname,01.03.2020,934.85
3,Аккумуляторная батарея (ЗИП),AGmobile,01.04.2020,1728.87
4,Генератор,DEXP,01.06.2020,112.57
...,...,...,...,...
5832,Компонент,FSP,01.06.2020,298.65
5833,Предохранитель,DEXP,01.05.2020,193.71
5834,Твердотельный накопитель SSD (СБОРКА),SP,01.06.2020,1226.26
5835,Адаптер/Блок питания,ДНС,01.06.2020,723.50
5836,Источник света (лампа/светодиод/светодиодная г...,DEXP,01.04.2020,1645.60

In [9]:
df = Prod.merge(right=Zatr, left_on=['Характеристика','Характеристика1','Период'], right_on=['Характеристика','Характеристика1', 'Период'], how='inner')
df

,Характеристика,Характеристика1,Период,Сумма_x,Сумма_y
0,Электронная книга,DEXP,01.01.2020,3690064.51,66294.74
1,Электронная книга,DEXP,01.02.2020,3565028.51,50347.81
2,Электронная книга,DEXP,01.03.2020,3363175.89,26738.94
3,Электронная книга,DEXP,01.04.2020,1284278.37,15969.94
4,Электронная книга,DEXP,01.05.2020,2242902.40,11456.89
...,...,...,...,...,...
4292,Камера,Blackview,01.03.2020,324.74,11688.54
4293,Камера,Blackview,01.05.2020,1319.77,23619.53
4294,Система охлаждения (радиатор/тепловые трубки),DEXP,01.01.2020,400.00,662.77
4295,Система охлаждения (радиатор/тепловые трубки),DEXP,01.02.2020,350.00,1709.93
4296,Система охлаждения (радиатор/тепловые трубки),DEXP,01.03.2020,380.00,1165.52