# Урок 2: Знакомство с библеотекой Pandas
Если очень кратко, то pandas – это библиотека, которая предоставляет очень удобные с точки зрения использования инструменты для хранения данных и работе с ними. 
    
Для установки библиотеки: !pip3 instal pandas --user

Документация https://pandas.pydata.org/docs/ и https://pandas.pydata.org/docs/user_guide/index.html

In [1]:
import pandas as pd #Импортируем библиотеку и присваиваем псевдоним

## Загрузка таблиц из файлов
1. pd.read_csv('filename.csv') - загрузить таблицу формата csv
1. pd.read_excel('filename.xlsx', sheet_name=0) - загрузить таблицу формата excel (xlsx, xls ...)
* sheet_name - порядковый номер листа или его название

In [2]:
df = pd.read_excel('Отправки поставщику.xlsx', sheet_name = 'TDSheet') #Имя переменной, в которой будет хранится таблица перед равно

## Вывод таблицы на экран
1. df.head(n=5) - показать первые 5 строк на экране 
1. df.tail(n=5) - показать последние 5 строк на экране
1. df - показать первые 5 строк и последнии 5 строк на экране
1. qgrid.show_grid(df) - показать таблицу на экране как в EXCEL позднее

In [3]:
df

,Неделя,Изделие,Характеристика1,СуммаОборот,отбор
0,2019-11-04,Миксер Планетарный,Vitek,3865.00,0.0
1,2019-12-02,Держатель для мобильных устройств,GiNZZU,457.67,0.0
2,2019-08-19,Утюг,Philips,1600.93,0.0
3,2018-11-12,Радиоуправляемые модели машин,WL Toys,10829.38,0.0
4,2018-09-24,Сотовый телефон,GiNZZU,5018.48,0.0
...,...,...,...,...,...
72654,2019-02-11,Тостер,Galaxy,1969.66,0.0
72655,2018-01-22,Электробритва,Vitek,1025.00,0.0
72656,2019-02-11,Сетевой фильтр,Defender,380.01,0.0
72657,2018-01-29,Увлажнитель воздуха,Ballu,1841.00,0.0
72658,2019-04-22,Оборудование Powerline/PoE,Orient,1596.00,0.0

In [4]:
df.shape #размер

(72659, 5)

In [5]:
df.columns #столбцы

Index(['Неделя', 'Изделие', 'Характеристика1', 'СуммаОборот', 'отбор'], dtype='object')

In [6]:
#вывод по частям
df.loc[832] #строка

Неделя                        2018-06-11 00:00:00
Изделие            Автомобильная магнитола (1DIN)
Характеристика1                               JVC
СуммаОборот                                  4238
отбор                                           0
Name: 832, dtype: object

In [7]:
df["Неделя"] #столбец

0       2019-11-04
1       2019-12-02
2       2019-08-19
3       2018-11-12
4       2018-09-24
           ...
72654   2019-02-11
72655   2018-01-22
72656   2019-02-11
72657   2018-01-29
72658   2019-04-22
Name: Неделя, Length: 72659, dtype: datetime64[ns]

## Фильтрация столбцов в таблице
df[(Условие1)&(Условие 2)]
1. & - логическое И
1. | - логическое ИЛИ
1. ~ - логическое НЕ
1. ">" - больше 
1. "<" - меньше 
1. "==" - равно
1. df['Столбец1'].isnull() - выбрать все пустые значения в столбце 1
1. df['Столбец1'].isin(values=['Значение1','Значение2']) - значение в столбце 1 равно любому из values
1. df['Столбец1'].str.contains('Строка') - Строка является частью какого-либо значения в столбце 1
* Многие другие функции вы можете найти в документации

In [8]:
#фильтрация 
df.loc[(df['Изделие']=='Радиоуправляемые модели машин')&(df['Неделя']=='2018-11-12')]
#можно использовать любые логические операции

,Неделя,Изделие,Характеристика1,СуммаОборот,отбор
3,2018-11-12,Радиоуправляемые модели машин,WL Toys,10829.38,0.0
26951,2018-11-12,Радиоуправляемые модели машин,Pilotage,1680.00,0.0
45425,2018-11-12,Радиоуправляемые модели машин,iCon Toys,969.33,0.0

In [9]:
df.rename(columns={'Характеристика1': 'Бренд'}, inplace=True)

In [11]:
df.head()

      Неделя                            Изделие    Бренд  СуммаОборот  отбор
0 2019-11-04                 Миксер Планетарный    Vitek      3865.00    0.0
1 2019-12-02  Держатель для мобильных устройств   GiNZZU       457.67    0.0
2 2019-08-19                               Утюг  Philips      1600.93    0.0
3 2018-11-12      Радиоуправляемые модели машин  WL Toys     10829.38    0.0
4 2018-09-24                    Сотовый телефон   GiNZZU      5018.48    0.0

## Сортировка значений
df.sort_values(by=['Столбец1', 'Столбец2'], ascending=False)
* by - столбцы по которым нужно отсортировать таблицу
* ascending - сортировка по возрастанию или убыванию:
    1. False - по убыванию
    1. True - по возрастанию

In [12]:
df.sort_values(by=['СуммаОборот'], ascending=False)

,Неделя,Изделие,Бренд,СуммаОборот,отбор
20680,2019-05-13,Видеокарта,ASUS,6460605.98,6460605.98
32146,2019-10-14,Смартфон,Honor,5489863.99,0.00
43165,2019-01-14,Видеокарта,GIGABYTE,4741057.82,4741057.82
66219,2019-05-20,Смартфон,Honor,4138025.92,0.00
62436,2020-02-24,Видеокарта,MSI,3798483.73,3798483.73
...,...,...,...,...,...
60595,2019-05-20,Жёсткий диск (HDD),Western Digital,1.00,0.00
38724,2019-07-22,Наушники вкладыши,Monster,1.00,0.00
14185,2019-12-02,Оперативная память (СБОРКА),Kingston,1.00,0.00
70653,2019-04-08,Автомобильное зарядное устройство для мобильны...,Remax,0.01,0.00
14717,2019-10-14,Оперативная память (4 Gb),QUMO,0.01,0.00

## Выгрузка таблиц в файл
1. df.to_csv('filename.csv') - выгрзить таблицу в формате csv
1. df.to_excel('filename.xlsx', sheet_name=0) - выгрузить таблицу в формате excel (xlsx, xls ...)
* sheet_name - порядковый номер листа или его название
* index = ложь  - это отсутствие нумерации

In [13]:
#выгрузка
df.to_excel('Тест2.xlsx', index=False)

## Qgrid или таблицы как в Excel только круче
Главные возможности: 
+ Фильтры 
+ Редактирование ячеек без дополнительного кода

Документация: https://github.com/quantopian/qgrid

In [14]:
import qgrid

In [15]:
df_change = qgrid.show_grid(df, show_toolbar=True)
df_change

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [16]:
df_change.get_changed_df()

,Неделя,Изделие,Бренд,СуммаОборот,отбор
0,2019-11-04,Миксер Планетарный,Vitek,3865.00,0.0
1,2019-12-02,Держатель для мобильных устройств,GiNZZU,457.67,0.0
2,2019-08-19,Утюг,Philips,1600.93,0.0
3,2018-11-12,Радиоуправляемые модели машин,WL Toys,10829.38,0.0
4,2018-09-24,Сотовый телефон,GiNZZU,5018.48,0.0
...,...,...,...,...,...
72654,2019-02-11,Тостер,Galaxy,1969.66,0.0
72655,2018-01-22,Электробритва,Vitek,1025.00,0.0
72656,2019-02-11,Сетевой фильтр,Defender,380.01,0.0
72657,2018-01-29,Увлажнитель воздуха,Ballu,1841.00,0.0
72658,2019-04-22,Оборудование Powerline/PoE,Orient,1596.00,0.0