In [2]:
import pandas as pd
import pandas as np

In [10]:
# Получение списка листов таблицы.
df = pd.read_excel('../2 занятие/Отправки поставщику.xlsx', None)
df.keys()

dict_keys(['Лист1', 'TDSheet'])

In [11]:
df = pd.read_excel('../2 занятие/Отправки поставщику.xlsx', sheet_name='TDSheet')

## Задание 1
#### Выведите данные из файла "Отправки поставщику"

In [13]:
df

,Неделя,Изделие,Характеристика1,СуммаОборот,отбор
0,2019-11-04,Миксер Планетарный,Vitek,3865.00,0.0
1,2019-12-02,Держатель для мобильных устройств,GiNZZU,457.67,0.0
2,2019-08-19,Утюг,Philips,1600.93,0.0
3,2018-11-12,Радиоуправляемые модели машин,WL Toys,10829.38,0.0
4,2018-09-24,Сотовый телефон,GiNZZU,5018.48,0.0
...,...,...,...,...,...
72654,2019-02-11,Тостер,Galaxy,1969.66,0.0
72655,2018-01-22,Электробритва,Vitek,1025.00,0.0
72656,2019-02-11,Сетевой фильтр,Defender,380.01,0.0
72657,2018-01-29,Увлажнитель воздуха,Ballu,1841.00,0.0
72658,2019-04-22,Оборудование Powerline/PoE,Orient,1596.00,0.0

## Задание 2
#### Отберите строки, в которых значение по столбцу "СуммаОборот" больше 100 000

In [14]:
df.loc[df["СуммаОборот"] > 100000]

,Неделя,Изделие,Характеристика1,СуммаОборот,отбор
9,2018-01-08,Внешний HDD,Western Digital,111716.83,0.00
56,2019-12-09,Процессор,Intel,172805.92,0.00
104,2019-09-16,Электрочайник,Polaris,221215.69,0.00
109,2019-02-04,Видеокарта,ASUS,364931.25,364931.25
146,2020-01-13,Ноутбук,Acer,252326.99,0.00
...,...,...,...,...,...
72604,2018-11-19,Видеокарта,Zotac,121193.32,121193.32
72610,2019-08-05,Материнская плата,GIGABYTE,543478.18,0.00
72612,2019-05-13,Блок питания системного блока,ZALMAN,122922.06,0.00
72641,2019-11-25,Видеокарта,MSI,1644802.27,1644802.27
72652,2018-02-12,Моноблок,Lenovo,146835.29,0.00

# Группировка

## Задание 3
#### Сгруппируйте полученные в задании 2 данные так, чтобы по каждому Изделию был посчитан суммарный Оборот и количество уникальных Брендов

In [17]:
df.groupby('Изделие').agg({'СуммаОборот': 'sum', 'Изделие': 'count'})

                       СуммаОборот  Изделие
Изделие
3D Принтер              1477086.18       35
3D Ручка                 850244.09      157
3D Сканер                 50464.00        2
AV-ресивер               155462.42        8
Blu-Ray Кино               1121.65        3
...                            ...      ...
Эпилятор                1031644.48      196
Эхолот                     7900.00        1
Эхолоты                  218026.07       10
Яйцеварка                 14623.36       10
Ящик для инструментов      5724.30       10

[916 rows x 2 columns]

## * Задание 4
#### Для изделий "Смартфон" и "Телевизор" вывести Бренды, у которых суммарный оборот меньше 10 000 (по всем данным из файла)

In [25]:
df[['Характеристика1']].loc[df['Изделие'].isin(['Смартфон', 'Телевизор'])&(df['СуммаОборот']<10000)].rename(columns={'Характеристика1': 'Бренды'})

          Бренды
384        teXet
437         AKAI
506    Prestigio
552       ARCHOS
650        Digma
...          ...
71569      Irbis
71779       Vivo
72050      4Good
72066     Fusion
72070      Akira

[600 rows x 1 columns]

# Сводная таблица

## Задание 5
#### Составьте сводную таблицу по данным из файла "Отправки поставщику": средняя сумма оборота по изделиям и по годам с итогами

In [32]:
df['Год'] = df['Неделя'].dt.year
df

,Неделя,Изделие,Характеристика1,СуммаОборот,отбор,Год
0,2019-11-04,Миксер Планетарный,Vitek,3865.00,0.0,2019
1,2019-12-02,Держатель для мобильных устройств,GiNZZU,457.67,0.0,2019
2,2019-08-19,Утюг,Philips,1600.93,0.0,2019
3,2018-11-12,Радиоуправляемые модели машин,WL Toys,10829.38,0.0,2018
4,2018-09-24,Сотовый телефон,GiNZZU,5018.48,0.0,2018
...,...,...,...,...,...,...
72654,2019-02-11,Тостер,Galaxy,1969.66,0.0,2019
72655,2018-01-22,Электробритва,Vitek,1025.00,0.0,2018
72656,2019-02-11,Сетевой фильтр,Defender,380.01,0.0,2019
72657,2018-01-29,Увлажнитель воздуха,Ballu,1841.00,0.0,2018
72658,2019-04-22,Оборудование Powerline/PoE,Orient,1596.00,0.0,2019

In [40]:
df.groupby(['Изделие', 'Год']).agg({'СуммаОборот': ['mean', 'sum']})

                             СуммаОборот
                                    mean        sum
Изделие               Год
3D Принтер            2018  38288.322000  765766.44
                      2019  48893.461000  488934.61
                      2020  44477.026000  222385.13
3D Ручка              2018   6242.283836  455686.72
                      2019   4825.840645  299202.12
...                                  ...        ...
Яйцеварка             2019   1367.373333   12306.36
                      2020   2317.000000    2317.00
Ящик для инструментов 2018    594.000000    1188.00
                      2019    659.050000    3954.30
                      2020    291.000000     582.00

[2262 rows x 2 columns]