In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../3 занятие/Сроки ремонта.csv')

## Работа с датами
### Перевод текстового столбца в дату (требуется не всегда)<a class="anchor" id="bullet-9"></a>
pd.to_datetime(df['DocDate'], format='%Y-%m-%d %H:%M:%S') - перевести тип какого-нибудь столбца в дату. format - формат записаной даты, является не обязательным аргументов, но без него в некоторых случваях дата составляется не правильно
* %Y - год
* %m - месяц
* %d - день
* %H - час
* %M - минуты
* %S - секунды

In [3]:
df['Дата'][0]

'2020-07-01'

In [4]:
df['Дата'] = pd.to_datetime(df['Дата'], format='%Y-%m-%d')
df['Дата'][0]

Timestamp('2020-07-01 00:00:00')

In [5]:
df['Дата']

0        2020-07-01
1        2020-07-06
2        2020-07-03
3        2020-07-15
4        2020-07-12
            ...
179958   2020-07-16
179959   2020-07-30
179960   2020-07-10
179961   2020-07-21
179962   2020-07-26
Name: Дата, Length: 179963, dtype: datetime64[ns]

### Основные функции для дат<a class="anchor" id="bullet-10"></a>
1. df['Имя столбца с датой'].dt.year - год
1. df['Имя столбца с датой'].dt.quarter - квартал
1. df['Имя столбца с датой'].dt.month - месяц
1. df['Имя столбца с датой'].dt.week - неделя
1. df['Имя столбца с датой'].dt.weekday_name - имя дня недели
1. df['Имя столбца с датой'].dt.day - день
1. df['Имя столбца с датой'].dt.hour - часы
1. df['Имя столбца с датой'].dt.minute - минуты
1. df['Имя столбца с датой'].dt.second - секунды
1. df['Имя столбца с датой'].dt.date - дата без времени
1. df['Имя столбца с датой'].dt.time - время без даты
1. df['Имя столбца с датой'].dt.dayofyear - номер дня в году
1. pd.to_datetime(df['Дата'].dt.strftime('%Y-%m-01'), format='%Y-%m-%d') - дата начала месяца
* Многие другие функции вы можете найти в документации

In [6]:
df['Дата'].dt.year

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
179958    2020
179959    2020
179960    2020
179961    2020
179962    2020
Name: Дата, Length: 179963, dtype: int64

In [7]:
df['Дата'].dt.month

0         7
1         7
2         7
3         7
4         7
         ..
179958    7
179959    7
179960    7
179961    7
179962    7
Name: Дата, Length: 179963, dtype: int64

In [8]:
df['Дата'].dt.quarter

0         3
1         3
2         3
3         3
4         3
         ..
179958    3
179959    3
179960    3
179961    3
179962    3
Name: Дата, Length: 179963, dtype: int64

In [9]:
df['Дата'].dt.dayofyear

0         183
1         188
2         185
3         197
4         194
         ...
179958    198
179959    212
179960    192
179961    203
179962    208
Name: Дата, Length: 179963, dtype: int64

## Получение нового столбца на основе существующих

### Арифметические операции:
"+" - сложение

"-" - вычитание

"*" - умножение

"**" - возведение в степень

"/" - деление

**Примеры:**

1. df['День в году'] = df['Дата'].dt.dayofyear
1. df['Умножение'] = df['ДнейВРемонте'] * 2
1. df['Сложение'] = df['ДнейВРемонте'] + df['ДнейВРемонте']

In [10]:
df['День в году'] = df['Дата'].dt.dayofyear

In [11]:
df['Неделя'] = df['Дата'].dt.week

In [12]:
df['Полная шляпа'] = df['День в году'] + df['КодФирмы']

In [13]:
df.head()

,Документ,Дата,КодФирмы,КодТовара,Количество,Выход,Операция,ДнейВРемонте,День в году,Неделя,Полная шляпа
0,Операции с неисправным товаром XM1-000135 от 2...,2020-07-01,180,1615669,1,Выдача,Гарантийный ремонт,37.839838,183,27,363
1,Операции с неисправным товаром XM1-000164 от 0...,2020-07-06,180,1022309,1,Акт дефектовки,Гарантийный ремонт,3.858599,188,28,368
2,Операции с неисправным товаром XM1-000165 от 0...,2020-07-03,180,1285470,1,Акт дефектовки,Гарантийный ремонт,0.001933,185,27,365
3,Операции с неисправным товаром XM1-000166 от 0...,2020-07-15,180,1346024,1,Акт дефектовки,Гарантийный ремонт,8.166227,197,29,377
4,Операции с неисправным товаром XM1-000167 от 0...,2020-07-12,180,1048101,1,Акт дефектовки,Гарантийный ремонт,4.737581,194,28,374

In [14]:
df['Выход'].unique()

array(['Выдача', 'Акт дефектовки', 'Закрытие заказа'], dtype=object)

## Функции. Что это? Как их использовать?

Функция в python - объект, принимающий аргументы и возвращающий значение.

Функция объявляется с помощью ключевого слово def

return - то что нужно вернуть функции

[Курс по основам Python 3](https://stepik.org/course/67/promo)

In [26]:
def test(x):
    """
    Функция для возведения числа в квадрат
    Вход:
    x - число
    Выход:
    x ** 2
    """
    return x ** 2

In [27]:
test(3)

9

In [28]:
df['День в году'].apply(test)

0         33489
1         35344
2         34225
3         38809
4         37636
          ...
179958    39204
179959    44944
179960    36864
179961    41209
179962    43264
Name: День в году, Length: 179963, dtype: int64

## Условные операторы

1. and - И
1. or - ИЛИ
1. not - НЕ
1. ">" - больше 
1. ">=" - больше равно
1. "<" - меньше 
1. "<=" - меньше равно
1. "==" - равно
1. in - входит в

<code>Python:
    if выражение_1:
        инструкции_(блок_1)
    elif выражение_2:
        инструкции_(блок_2)
    elif выражение_3:
        инструкции_(блок_3)
    else:
        инструкции_(блок_4)
</code>

[Курс по основам Python 3](https://stepik.org/course/67/promo)

In [29]:
def condition(x):
    if x >= 10 and x < 14:
        return 'Хорошо'
    elif x < 10:
        return 'Великолепно'
    else:
        return 'Так себе'

In [30]:
condition(11)

'Хорошо'

In [31]:
condition(15)

'Так себе'

In [32]:
condition(8)

'Великолепно'

In [33]:
df['ДнейВРемонте'].apply(condition)

0            Так себе
1         Великолепно
2         Великолепно
3         Великолепно
4         Великолепно
             ...
179958       Так себе
179959    Великолепно
179960    Великолепно
179961    Великолепно
179962    Великолепно
Name: ДнейВРемонте, Length: 179963, dtype: object

In [34]:
df['Оценка'] = df['ДнейВРемонте'].apply(condition)

In [35]:
df['Операция'].unique()

array(['Гарантийный ремонт', 'Проверка качества', 'Платный ремонт',
       'Ремонт по доп. гарантии'], dtype=object)

In [25]:
def condition_1(x):
    if x in ('Гарантийный ремонт', 'Проверка качества', 'Ремонт по доп. гарантии'):
        return 'Гарантийный'
    else:
        return 'Платный'

In [36]:
df['Условный статус'] = df['Операция'].apply(condition_1)

In [51]:
df.head()

,Документ,Дата,КодФирмы,КодТовара,Количество,Выход,Операция,ДнейВРемонте,День в году,Неделя,Полная шляпа,Оценка,Условный статус,Столбец
0,Операции с неисправным товаром XM1-000135 от 2...,2020-07-01,180,1615669,1,Выдача,Гарантийный ремонт,37.839838,183,27,363,Так себе,Гарантийный,1
1,Операции с неисправным товаром XM1-000164 от 0...,2020-07-06,180,1022309,1,Акт дефектовки,Гарантийный ремонт,3.858599,188,28,368,Великолепно,Гарантийный,0
2,Операции с неисправным товаром XM1-000165 от 0...,2020-07-03,180,1285470,1,Акт дефектовки,Гарантийный ремонт,0.001933,185,27,365,Великолепно,Гарантийный,0
3,Операции с неисправным товаром XM1-000166 от 0...,2020-07-15,180,1346024,1,Акт дефектовки,Гарантийный ремонт,8.166227,197,29,377,Великолепно,Гарантийный,0
4,Операции с неисправным товаром XM1-000167 от 0...,2020-07-12,180,1048101,1,Акт дефектовки,Гарантийный ремонт,4.737581,194,28,374,Великолепно,Гарантийный,0

## Получение нового столбца на основе существующей строки

* df.apply(func_name, axis=1) - применить функию ко всей таблицы

axis=1 - строка

axis=0 - столбец

In [43]:
def con_row(x):
    """
    Удобная функция на основе которой можно маркировать соответствующие условию элементы списка.
    Данная маркировка поможет отделить "Выданый после гарантийного ремонта" товар от остальных.
    
    Вход: 
    x - операция документа
    
    Выход: 
    Маркер: "Столбец" = (1 или 0)
    """
    if x['Выход'] == 'Выдача' and x['Операция']=='Гарантийный ремонт':
        return 1
    else:
        return 0

In [44]:
df['Столбец'] = df.apply(con_row, axis=1)

In [49]:
df.head(2)

,Документ,Дата,КодФирмы,КодТовара,Количество,Выход,Операция,ДнейВРемонте,День в году,Неделя,Полная шляпа,Оценка,Условный статус,Столбец
0,Операции с неисправным товаром XM1-000135 от 2...,2020-07-01,180,1615669,1,Выдача,Гарантийный ремонт,37.839838,183,27,363,Так себе,Гарантийный,1
1,Операции с неисправным товаром XM1-000164 от 0...,2020-07-06,180,1022309,1,Акт дефектовки,Гарантийный ремонт,3.858599,188,28,368,Великолепно,Гарантийный,0

In [50]:
df.loc[df['Столбец']==1].head(2)

,Документ,Дата,КодФирмы,КодТовара,Количество,Выход,Операция,ДнейВРемонте,День в году,Неделя,Полная шляпа,Оценка,Условный статус,Столбец
0,Операции с неисправным товаром XM1-000135 от 2...,2020-07-01,180,1615669,1,Выдача,Гарантийный ремонт,37.839838,183,27,363,Так себе,Гарантийный,1
6,Операции с неисправным товаром XM1-000170 от 0...,2020-07-20,180,1128467,1,Выдача,Гарантийный ремонт,10.942442,202,30,382,Хорошо,Гарантийный,1