In [121]:
import pandas as pd

## Задание 1
#### Загрузите данные из файла 2 занятия "отправки поставщику"

In [4]:
df = pd.read_excel('../2 занятие/Отправки поставщику.xlsx', None)
df.keys()

dict_keys(['Лист1', 'TDSheet'])

In [32]:
df = pd.read_excel('../2 занятие/Отправки поставщику.xlsx', sheet_name='TDSheet')

In [57]:
df['Год'] = df['Неделя'].dt.year
df['Месяц'] = df['Неделя'].dt.month
df

,Неделя,Изделие,Характеристика1,СуммаОборот,отбор,Год,Месяц
0,2019-11-04,Миксер Планетарный,Vitek,3865.00,0.0,2019,11
1,2019-12-02,Держатель для мобильных устройств,GiNZZU,457.67,0.0,2019,12
2,2019-08-19,Утюг,Philips,1600.93,0.0,2019,8
3,2018-11-12,Радиоуправляемые модели машин,WL Toys,10829.38,0.0,2018,11
4,2018-09-24,Сотовый телефон,GiNZZU,5018.48,0.0,2018,9
...,...,...,...,...,...,...,...
72654,2019-02-11,Тостер,Galaxy,1969.66,0.0,2019,2
72655,2018-01-22,Электробритва,Vitek,1025.00,0.0,2018,1
72656,2019-02-11,Сетевой фильтр,Defender,380.01,0.0,2019,2
72657,2018-01-29,Увлажнитель воздуха,Ballu,1841.00,0.0,2018,1
72658,2019-04-22,Оборудование Powerline/PoE,Orient,1596.00,0.0,2019,4

## Задание 2
#### Сгруппируйте полученные в задании 2 данные так, чтобы по каждому Году для каждого Изделия был посчитан суммарный Оборот и количество уникальных Брендов

In [80]:
x = df.pivot_table(values=['СуммаОборот', 'Характеристика1'],
                   index=['Год', 'Изделие'], 
                   aggfunc={'СуммаОборот': 'sum', 'Характеристика1': 'nunique'},
                   margins=True, 
                   margins_name="Итоги:").rename(columns={'Характеристика1' :'Кол-во уникальных брендов'})
                   
x

                               СуммаОборот  Кол-во уникальных брендов
Год    Изделие
2018   3D Принтер             7.657664e+05                          6
       3D Ручка               4.556867e+05                         13
       3D Сканер              5.046400e+04                          2
       AV-ресивер             3.365817e+04                          2
       Blu-Ray Кино           1.121650e+03                          2
...                                    ...                        ...
2020   Эпилятор               1.688870e+05                         10
       Эхолоты                2.872399e+04                          1
       Яйцеварка              2.317000e+03                          1
       Ящик для инструментов  5.820000e+02                          2
Итоги:                        1.350946e+09                       1704

[2263 rows x 2 columns]

> Экспоненциальный формат отображает число в экспоненциальном представлении, заменяя часть числа на e +n, в которой e (экспонента) умножает предшествующее число на $10$ в $n-ом$. Например, в экспоненциальном формате с двумя десятичными форматами $12345678901$ в качестве $1.23 E + 10$, что $1,23$ подает $10$ в десятый источник.

In [56]:
# В данном задании неполучается использовать сводную таблицу, так как "aggfunc ='sum' or ['sum', unique]", будет применяться ко всем колонкам, а это не правильно.
# Поэтому более разумно здесь использовать функцию "groupby".
group = df.groupby(['Год', 'Изделие']).agg({'СуммаОборот': 'sum', 'Характеристика1': 'nunique'})
group.rename(columns={'Характеристика1': 'Кол-во уникальных'})

                            СуммаОборот  Кол-во уникальных
Год  Изделие
2018 3D Принтер               765766.44                  6
     3D Ручка                 455686.72                 13
     3D Сканер                 50464.00                  2
     AV-ресивер                33658.17                  2
     Blu-Ray Кино               1121.65                  2
...                                 ...                ...
2020 Электрощипцы              40218.98                 20
     Эпилятор                 168886.99                 10
     Эхолоты                   28723.99                  1
     Яйцеварка                  2317.00                  1
     Ящик для инструментов       582.00                  2

[2262 rows x 2 columns]

## Задание 3
#### Сгруппируйте полученные в задании 2 данные так, чтобы по каждому месяцу для каждого Бренда был посчитан максимальный Оборот и количество уникальных Изделий

In [114]:
x = df.pivot_table(values=['СуммаОборот', 'Изделие'], 
                   index=['Месяц', 'Характеристика1'], 
                   aggfunc={'СуммаОборот': 'sum', 'Изделие': 'nunique'}, 
                   margins=True, margins_name="Итог:")
x

                       Изделие   СуммаОборот
Месяц Характеристика1
1     3Cott                  2  3.051210e+03
      4Good                  3  3.178054e+04
      5Bites                 8  1.056893e+04
      A&D                    1  2.790500e+03
      A-Data                 8  3.652921e+05
...                        ...           ...
12    Эфир                   3  1.172751e+04
      ЯРОМИР                 4  2.764260e+03
      Яндекс                 1  1.189200e+04
      Яркий Луч              1  1.684122e+04
Итог:                      916  1.350946e+09

[10906 rows x 2 columns]

## Задание 4
#### Загрузите данные из 3 задания сроки ремонта

In [126]:
df = pd.read_csv('../3 занятие/Сроки ремонта.csv')
df.head()

,Документ,Дата,КодФирмы,КодТовара,Количество,Выход,Операция,ДнейВРемонте
0,Операции с неисправным товаром XM1-000135 от 2...,2020-07-01,180,1615669,1,Выдача,Гарантийный ремонт,37.839838
1,Операции с неисправным товаром XM1-000164 от 0...,2020-07-06,180,1022309,1,Акт дефектовки,Гарантийный ремонт,3.858599
2,Операции с неисправным товаром XM1-000165 от 0...,2020-07-03,180,1285470,1,Акт дефектовки,Гарантийный ремонт,0.001933
3,Операции с неисправным товаром XM1-000166 от 0...,2020-07-15,180,1346024,1,Акт дефектовки,Гарантийный ремонт,8.166227
4,Операции с неисправным товаром XM1-000167 от 0...,2020-07-12,180,1048101,1,Акт дефектовки,Гарантийный ремонт,4.737581

## Задание 5
#### Создайте новый столбец исходя из следующих условий: если выход выдачи или закрытие заказа, то ОСНТ, иначе АД. Посчитайте количество различных документов по каждому полученном условию

In [128]:
df['Выход'].unique()

array(['Выдача', 'Акт дефектовки', 'Закрытие заказа'], dtype=object)

In [130]:
def condition(x):
    if df['Выход'] == ['Выдача', 'Закрытие заказа']:
        return df['Решение'] =

SyntaxError: invalid syntax (<ipython-input-130-63fc59d20ca5>, line 2)

## Задание 6
#### Если вы здесь и у вас осталось время, попробуйте поупражняться в написании различных логических функций