In [1]:
import pandas as pd

## Задание 1
#### Загрузите данные из файла 2 занятия "отправки поставщику"

In [4]:
df = pd.read_excel('../2 занятие/Отправки поставщику.xlsx', None)
df.keys()

dict_keys(['Лист1', 'TDSheet'])

In [32]:
df = pd.read_excel('../2 занятие/Отправки поставщику.xlsx', sheet_name='TDSheet')

In [57]:
df['Год'] = df['Неделя'].dt.year
df['Месяц'] = df['Неделя'].dt.month
df

,Неделя,Изделие,Характеристика1,СуммаОборот,отбор,Год,Месяц
0,2019-11-04,Миксер Планетарный,Vitek,3865.00,0.0,2019,11
1,2019-12-02,Держатель для мобильных устройств,GiNZZU,457.67,0.0,2019,12
2,2019-08-19,Утюг,Philips,1600.93,0.0,2019,8
3,2018-11-12,Радиоуправляемые модели машин,WL Toys,10829.38,0.0,2018,11
4,2018-09-24,Сотовый телефон,GiNZZU,5018.48,0.0,2018,9
...,...,...,...,...,...,...,...
72654,2019-02-11,Тостер,Galaxy,1969.66,0.0,2019,2
72655,2018-01-22,Электробритва,Vitek,1025.00,0.0,2018,1
72656,2019-02-11,Сетевой фильтр,Defender,380.01,0.0,2019,2
72657,2018-01-29,Увлажнитель воздуха,Ballu,1841.00,0.0,2018,1
72658,2019-04-22,Оборудование Powerline/PoE,Orient,1596.00,0.0,2019,4

## Задание 2
#### Сгруппируйте полученные в задании 2 данные так, чтобы по каждому Году для каждого Изделия был посчитан суммарный Оборот и количество уникальных Брендов

In [56]:
# В данном задании неполучается использовать сводную таблицу, так как "aggfunc ='sum' or ['sum', unique]", будет применяться ко всем колонкам, а это не правильно.
# Поэтому более разумно здесь использовать функцию "groupby".
group = df.groupby(['Год', 'Изделие']).agg({'СуммаОборот': 'sum', 'Характеристика1': 'nunique'})
group.rename(columns={'Характеристика1': 'Кол-во уникальных'})

                            СуммаОборот  Кол-во уникальных
Год  Изделие
2018 3D Принтер               765766.44                  6
     3D Ручка                 455686.72                 13
     3D Сканер                 50464.00                  2
     AV-ресивер                33658.17                  2
     Blu-Ray Кино               1121.65                  2
...                                 ...                ...
2020 Электрощипцы              40218.98                 20
     Эпилятор                 168886.99                 10
     Эхолоты                   28723.99                  1
     Яйцеварка                  2317.00                  1
     Ящик для инструментов       582.00                  2

[2262 rows x 2 columns]

## Задание 3
#### Сгруппируйте полученные в задании 2 данные так, чтобы по каждому месяцу для каждого Бренда был посчитан максимальный Оборот и количество уникальных Изделий

In [58]:
group = df.groupby(['Месяц', 'Изделие']).agg({'СуммаОборот': 'sum', 'Характеристика1': 'nunique'})
group.rename(columns={'Характеристика1': 'Кол-во уникальных'})

                             СуммаОборот  Кол-во уникальных
Месяц Изделие
1     3D Принтер               355278.65                  2
      3D Ручка                  77541.85                  8
      AV-ресивер                14993.00                  1
      Blu-Ray Кино                450.00                  1
      Bluetooth мышь            16960.79                  4
...                                  ...                ...
12    Электрошашлычница         23439.65                  5
      Электрощипцы              29460.36                 14
      Эпилятор                  56454.35                  7
      Эхолоты                   26480.00                  2
      Ящик для инструментов      1555.00                  1

[7080 rows x 2 columns]

## Задание 4
#### Загрузите данные из 3 задания сроки ремонта

## Задание 5
#### Создайте новый столбец исходя из следующих условий: если выход выдачи или закрытие заказа, то ОСНТ, иначе АД. Посчитайте количество различных документов по каждому полученном условию

## Задание 6
#### Если вы здесь и у вас осталось время, попробуйте поупражняться в написании различных логических функций